<div *ngIf="!isLoggedIn">
  <app-login (isLoggedIn)="checkLogin($event)" [users]="users"></app-login>
</div>

<div *ngIf="isLoggedIn">  
  <div class="container-fluid p-0">
    <div class="row">
        <app-toolbar [user]="userData" (logOut)="logout($event)" ></app-toolbar>
    </div>
    <div class="row">
        <div class="col-2">
            <app-navbar [user]="userData" (viewOption)="onViewOption($event)"  ></app-navbar>
        </div>
        <div class="col-10" [ngSwitch]="viewOption">
            <app-students-list *ngSwitchCase="'home'" 
              [user]="userData" 
              [students]="studentsData" 
              (editStudent)="onPassEditStudent($event)" 
              (studentsUpdated)="onUpdateDeleteStudents($event)"
              (addInscription)="onPassAddInscription($event)" >
            </app-students-list>
            <app-student-form *ngSwitchCase="'add-student'" 
              [studentToEdit]="studentToEdit" 
              (studentAdded)="onAddStudent($event)" 
              (studentEdited)="onStudentEdit($event)" >
            </app-student-form>
            <app-users-list *ngSwitchCase="'users'"
              [usr]="userData"
              [users]="users"
              (viewOption)="onViewOption($event)"
              (editUser)="onPassEditUser($event)"
              (usersUpdated)="onUpdateDeleteUsers($event)" >
            </app-users-list>
            <app-user-form *ngSwitchCase="'add-user'" 
              [userToEdit]="userToEdit"
              [users]="users"
              (newUser)="onAddUser($event)"
              (userEdited)="onUserEdit($event)">
            </app-user-form>
            <app-courses-list *ngSwitchCase="'courses'" 
              [user]="userData" 
              [courses]="courses" 
              (viewOption)="onViewOption($event)" 
              (editCourse)="onPassEditCourse($event)" 
              (coursesUpdated)="onUpdateDeleteCourses($event)" >
            </app-courses-list>
            <app-course-form *ngSwitchCase="'add-course'" 
              [courseToEdit]="courseToEdit" 
              (courseAdded)="onAddCourse($event)" 
              (courseEdited)="onCourseEdit($event)" >
            </app-course-form>
            <app-inscriptions-form *ngSwitchCase="'add-inscription'"
              [courses]="courses"
              [student]="studentToInscribe"
              (studentToUpdate)="onAddInscription($event)" >
            </app-inscriptions-form>
        </div>
    </div>
  </div>
</div>